<div class="app-bar mat-elevation-z6">
  <mat-toolbar color="primary">
    <a class="logo" routerLink="/home">
      <img src="./assets/icons/icon-72x72.png" alt="Logo">
    </a>
    <span class="d-none d-sm-inline">{{ title }}</span>
    <div class="flex-spacer"></div>
    <nav>
      <button mat-button [matMenuTriggerFor]="thmenu" class="app-primary">
        <mat-icon class="md-24">format_color_fill</mat-icon>
      </button>
      <!--<button mat-button class="app-primary" (click)="onClickMenu()">
        <mat-icon class="md-24">menu</mat-icon>
      </button>-->
    </nav>
  </mat-toolbar>
</div>

<mat-menu #thmenu="matMenu">
  <button mat-menu-item *ngFor="let theme of themes"
          [id]="'theme-' + theme + '-menu-item'"
          (click)="onClickTheme(theme)">
    <span class="theme-menu-item-img"></span>
  </button>
</mat-menu>
