<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" position="end">
    <div class="logo">
      <img src="/assets/icons/icon-72x72.png" alt="Logo">
    </div>
    <mat-nav-list id="app-menu">
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
        Home
      </a>
      <a mat-list-item href="#" (click)="sidenav.close()">
        Menu item 2
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mden-header (themeSelected)="setTheme($event)" (menuActivated)="sidenav.toggle()"></mden-header>
    <div class="wrapper">
      <div id="top" class="app-content">
        <router-outlet></router-outlet>
      </div>
      <mden-footer></mden-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

