<mden-header (themeSelected)="setTheme($event)" (menuActivated)="sidenav.toggle()"></mden-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" position="end">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
        Home
      </a>
      <a mat-list-item href="#" (click)="sidenav.close()">
        Menu item 2
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-content">
      <div class="top app-primary">
        <span>Hi!</span>
      </div>
      <router-outlet></router-outlet>
    </div>
    <mden-footer></mden-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

