.app-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.active {
  font-weight: bold;
}

.top {
  width: 100%;
  min-height: 80px;
  padding: 15px;
}

.app-content {
  min-height: calc(100vh - 130px);
}
