<div class="footer app-primary">
    <div class="footer-container">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-center">Company</h4>
                <dl>
                    <dt>Name</dt>
                    <dd>Malachiteden OÜ</dd>

                    <dt>Address</dt>
                    <dd>
                        Koidu 69-11<br>
                        44108 Kunda Estonia
                    </dd>

                    <dt>Reg.Nr.</dt>
                    <dd>12779767</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <h4 class="text-center">Bank</h4>
                <dl>
                    <dt>Name</dt>
                    <dd>Swedbank</dd>

                    <dt>SWIFT</dt>
                    <dd>???</dd>

                    <dt>IBAN</dt>
                    <dd>EE45 2200 2210 6119 7414</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                &#169; <span class="year">{{year}}</span> - Andrei Babkin
            </div>
        </div>
    </div>
</div>
