<div class="footer app-primary">
    <div class="footer-container">
        <div class="row mb-4 no-gutters">
            <div id="footer-company-left" class="col-sm-6">
                <p>
                    <strong>Malachiteden OÜ</strong><br>
                    Koidu 69-11<br>
                    44108 Kunda Estonia
                </p>
            </div>
            <div id="footer-company-right" class="col-sm-6">
                <p>
                    <span class="footer-label">Phone:</span> +372 58 425 605<br>

                    <span class="footer-label">Email:</span> office@malachiteden.com<br>

                    <span class="footer-label">Skype:</span> and500173
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                &#169; <span class="year">{{year}}</span> - Andrei Babkin
            </div>
        </div>
    </div>
</div>
