<div class="login">
  <mat-card>
    <h2 class="text-center">Are you Admin?</h2>
    <form [formGroup]="loginFormGroup">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="nameCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="passCtrl" required>
      </mat-form-field>
    </form>
    <div class="p-4 text-center">
      <button type="button" mat-raised-button color="primary" [disabled]="invalid()">Login</button>
    </div>
  </mat-card>
</div>
