/* HTML elements styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}
button:active, button:focus {
  outline: 0;
}
a:hover {
  text-decoration: none;
}

/* Special styling */
.mac-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.flex-spacer {
  flex-grow: 1;
}
.fixed-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.full-width {
  width: 100%;
}
