#home {
  section {
    display: block;
    padding: 20px;
  }
  .mat-card {
    max-width: 1200px;
    margin: 0 auto;
  }

  #intro {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(112,162,231,0), rgba(112,162,231,0.7));

    .top-panel {
      position: absolute;
      top: 0;
      left: 0;
      padding: $default-padding;

      a {
        margin-right: 10px;
      }
    }

    #intro-box {
      max-width: 534px;
      padding: $default-padding;

      h1 {
        font-size: 28px;
        @media (min-width: $app-breakpoint-phone) {
          & { font-size: 32px; }
        }
        @media (min-width: $app-breakpoint-tablet) {
          & { font-size: 40px; }
        }
      }
    }
  }

  #about {
    .mat-card {
      padding: 0;
    }

    #about-img {
      img {
        width: 100%;
        height: auto;
      }
    }

    .about-text {
      padding: 20px 20px 10px 20px;
      font-size: 18px;
      @media (min-width: map-get($grid-breakpoints, md)) {
        & { padding: 20px 20px 10px 5px;}
      }

      p {
        text-align: justify;
      }
    }
  }

  #contact {
    mat-card {
      min-height: 230px;
    }

    .alert-danger, .alert-success {
      /*margin: 15px;*/
      padding: 10px;
      border-radius: 4px;
    }
  }
}



