/* Site content container */
mat-sidenav-container {
  height: 100%;
  width: 100%;

  .app-bar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .logo {
      display: inline-block;
      width: 48px;
      height: 48px;
      img {
        width: 100%;
        height: auto;
      }
    }

    .mat-button {
      min-width: auto;
    }
  }

  .wrapper {
    position: absolute;
    top: $nav-bar-height-tablet;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    @media (min-width: $app-breakpoint-tablet) {
      & {
        top: $nav-bar-height;
      }
    }

    .app-content {
      position: relative;
      flex: 1 0 auto;
    }

    .footer {
      text-align: center;
      padding: 10px 0;
    }
  }
}


