/* Site content container */
mat-sidenav-container {
  height: 100%;
  width: 100%;

  .app-bar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .logo {
      display: inline-block;
      width: 48px;
      height: 48px;
      img {
        width: 100%;
        height: auto;
      }
    }

    .mat-button {
      min-width: auto;
    }
  }

  .wrapper {
    position: absolute;
    top: $nav-bar-height-tablet;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    @media (min-width: $app-breakpoint-tablet) {
      & {
        top: $nav-bar-height;
      }
    }

    .app-content {
      position: relative;
      flex: 1 0 auto;
    }

    .footer {
      padding: 30px 20px 20px 20px;

      .footer-container {
        max-width: 640px;
        margin: 0 auto;
      }

      .footer-label {
        display: inline-block;
        min-width: 60px;
      }

      #footer-company-left, #footer-company-right {
        padding: 0 15px;
      }

      @media (min-width: map-get($grid-breakpoints, sm)) {
        #footer-company-left {
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
        }
        #footer-company-right {
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}


