* {
  font-family: Arial, Helvetica, sans-serif;
}

button:active, button:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.app-content {
  margin-top: 56px;

  @media (min-width: $app-breakpoint-tablet) {
    & {
      margin-top: 64px;
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}
