@import '~@angular/material/theming';

// Include the common styles for Angular Material.
@include mat-core();

// Mixin to create a set of classes for defined palette
@mixin create-themed-classes($palette, $palette-name) {
  .app-#{$palette-name} {
    color: mat-color($palette, default-contrast);
    background-color: mat-color($palette);
    &:hover { color: mat-color($palette, default-contrast); }
  }
  .app-#{$palette-name}-default { background-color: mat-color($palette); }
  .app-#{$palette-name}-darker { background-color: mat-color($palette, darker); }
  .app-#{$palette-name}-lighter { background-color: mat-color($palette, lighter); }
  .app-#{$palette-name}-hover {
    transition: background-color 400ms;
    &:hover {
      background-color: mat-color($palette, lighter);
      cursor: pointer;
      color: mat-color($palette, lighter-contrast);
    }
  }
}

// Mixin to apply theme to themed classes
@mixin set-app-theme($theme) {
  $th-primary: map-get($theme, primary);
  $th-accent: map-get($theme, accent);
  $th-warn: map-get($theme, warn);

  @include create-themed-classes($th-primary, 'primary');
  @include create-themed-classes($th-accent, 'accent');
  @include create-themed-classes($th-accent, 'warn');
}

// Mixin which creates content for an item in the theme selection drop-down menu
@mixin generate-menu-item($theme, $theme-name){
  #theme-#{$theme-name}-menu-item {
    background-color: map-get(map-get($theme, background), background);
    .theme-menu-item-img {
      background-image: linear-gradient(
                      to right,
                      mat-color(map-get($theme, primary)),
                      mat-color(map-get($theme, accent))
      );
    }
  }
}
// Styling of an image which illustrates theme in the drop-down menu
.theme-menu-item-img {
  display: inline-block;
  border: 1px solid #333;
  width: 100%;
  height: 18px;
}

// Default colors
$mlden-primary: mat-palette($mat-green, 700, 300, 900);
$mlden-accent: mat-palette($mat-yellow, 600, 200, 800);
$mlden-warn: mat-palette($mat-deep-orange); /*Default tones: 500, 100, 700*/
// Default theme
$mlden-theme: mat-light-theme($mlden-primary, $mlden-accent, $mlden-warn);
// Include theme styles for core and each component used in the app.
@include angular-material-theme($mlden-theme);
@include set-app-theme($mlden-theme);
@include generate-menu-item($mlden-theme, 'default');

// Dark style of default theme
$mlden-theme-dark: mat-dark-theme($mlden-primary, $mlden-accent, $mlden-warn);
.dark-theme {
  @include angular-material-theme($mlden-theme-dark);
  @include set-app-theme($mlden-theme-dark);
}
@include generate-menu-item($mlden-theme-dark, 'dark');

// Alternate theme 1
$alt1-primary: mat-palette($mat-teal, 600, 200, 800);
$alt1-theme: mat-light-theme($alt1-primary, $mlden-accent, $mlden-warn);
.alt1-theme {
  @include angular-material-theme($alt1-theme);
  @include set-app-theme($alt1-theme);
}
@include generate-menu-item($alt1-theme, 'alt1');

// Alternate theme 2
$alt2-primary: mat-palette($mat-cyan, 700, 200, 900);
$alt2-accent: mat-palette($mat-light-green, 600, 200, 800);
$alt2-theme: mat-light-theme($alt2-primary, $alt2-accent, $mlden-warn);
.alt2-theme {
  @include angular-material-theme($alt2-theme);
  @include set-app-theme($alt2-theme);
}
@include generate-menu-item($alt2-theme, 'alt2');
