/* Display width stops */
$app-breakpoint-tablet: 600px;
$app-breakpoint-phone: 420px;

/* Body top margin */
$nav-bar-height: 64px;
$nav-bar-height-tablet: 56px;

/* Padding */
$default-padding: 15px;
$default-padding-sm: 10px;
$default-padding-xs: 5px;

/* Maximal width of blocks with some content */
$content-max-width: 1200px;

