/* Display width stops */
$app-breakpoint-tablet: 600px;
$app-breakpoint-phone: 420px;

/* Body top margin */
$nav-bar-height: 64px;
$nav-bar-height-tablet: 56px;

/* Height of additional bar under navigation bar */
$top-bar-height: 60px;

/* Padding */
$default-padding: 15px;
$default-padding-sm: 10px;
$default-padding-xs: 5px;

