<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div id="about-img" class="col-md-6">
        <img src="/assets/about.png" alt="Photo">
      </div>
      <div class="col-md-6 about-text">
        <p>Hi, I'm Andrei Babkin, self-employed software developer from Estonia,
          who converts amazing ideas into working applications.
          I'm equally comfortable working with a team or flying solo.
        </p>
        <p>
          I have an experience in creating Web Applications, Information Systems, Android Games,
          and have a lot of time spent while developing different Excel VBA tools.
          So, feel free to contact me if you need a developer for your project.
        </p>
      </div>
    </div>
  </mat-card>
</div>
