<div *ngIf="!portfolio.isLoaded()">
  <mat-spinner></mat-spinner>
</div>
<div id="projects" *ngIf="portfolio.isLoaded()">
  <h1 class="text-center mt-2">Portfolio</h1>

  <div *ngIf="portfolio.isFailed()" class="alert-danger my-4">{{ portfolio.error }}</div>

  <section *ngFor="let p of portfolio.projects">
    <mat-card>
      <h3 class="text-center">{{ p.title }}</h3>
      <div class="screenshot">
        <img [src]="'./assets/' + p.img" alt="Project illustration">
      </div>
      <div [innerHtml]="p.desc"></div>
      <p class="text-info">{{ p.stack }}</p>
    </mat-card>
  </section>
</div>
