<div id="projects">
  <section>
    <mat-card>
      <h2 class="text-center">E-commerce web application</h2>
      <div class="screenshot">
        <img src="./assets/p_ecommerce.png" alt="E-commerce app screenshot">
      </div>
      <p>
        The multilingual application offers services and goods to customers.
        Along with front-end and back-end development, it was required to create
        a CMS for this site which, in addition to CRUD operations with site content,
        includes also inventory, service orders, and purchase orders management functions.
      </p>
      <p class="text-info">
        JavaScript, VueJs, Bootstrap, SASS, Laravel, PHP, MySQL
      </p>
    </mat-card>
  </section>
</div>
